<?xml version="1.0" encoding="UTF-8"?>
<module name="Checker">
    <module name="JavadocPackage"/>
    <module name="TreeWalker">
        <module name="JavadocType"/>
        <module name="JavadocMethod"/>
        <module name="JavadocVariable"/>
        <module name="JavadocStyle"/>
    </module>
</module>
